*{
    font-family: Barlow Semi Condensed;

}


body{
    background-color: hsl(210, 46%, 95%);
}

.purple{
    margin-top: 7%;
    margin-left: 130px;
    padding-right: 3.5%;
    width: 650px;
    height: 385px;
    background-image: url(./testimonials-grid-section-main/images/bg-pattern-quotation.svg);
    background-position: 480px 0px;
    background-size: 200px;
    background-repeat: no-repeat;
    background-color: hsl(263, 55%, 52%);
    border-radius: 13px;
    
}

.distance{
   margin-left: 10%;
   color: hsl(0, 0%, 81%);
   
}

.title{
    margin-left: 10%;
    color: hsl(210, 46%, 95%);
}

.daniel{
    margin-top: 7%;
    margin-left: 10%;
    border-radius: 40px;
    
}

.name{
    color: hsl(210, 46%, 95%);
    position: absolute;
    left: 15%;
    top: 17%;
}

.subtitle{
    position: absolute;
    left:15% ;
    top: 19.5%;
    color: hsl(0, 0%, 81%);
}

.lgray{
    border-radius: 13px;
    position: absolute;
    left: 900px;
    top: 129px;
    height: 385px;
    width: 260px;
    background-color: hsl(217, 19%, 35%);
    padding-right: 20px;
}

.jonathan{
    border-radius: 40px;
    margin-top: 11%;
    margin-left: 9%;
    
}

.name2{
    position: absolute;
    left: 110px;
    top: 20px;
    color: hsl(210, 46%, 95%);
}

.subtitle2{
    position: absolute;
    left: 110px;
    top: 46px;
    color: hsl(0, 0%, 81%);
}

.title2{
    margin-left: 11%;
    color: hsl(210, 46%, 95%);
}



.white1{
    font-size: 17px;
    position: absolute;
    left: 1230px;
    top: 129px;
    background-color:  hsl(0, 0%, 100%);
    width: 260px;
    height: 720px;
    border-radius: 13px;
    padding-right: 30px;
}

.kira{
    border-radius: 40px;
    margin-top: 26px;
    margin-left: 9%;
}

.name3{
    position: absolute;
    left: 110px;
    top: 17px;
}

.subtitle3{
    position: absolute;
    left: 110px;
    top: 45px;
    color: hsl(0, 0%, 81%);
}

.title3{
    margin-left: 11%;
}



.white2{
    margin-top: 1%;
    margin-left: 130px;
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    height: 300px;
    border-radius: 13px;
    padding-right: 80px;
    padding-bottom: 15px;
}

.jeanette{
    border-radius: 40px;
    margin-left: 9%;
    margin-top: 9%;
}

.name4{
    position: absolute;
    left: 250px;
    top: 540px;
}

.subtitle4{
    position: absolute;
    left: 250px;
    top: 575px;
    color: hsl(0, 0%, 81%);
}

.title4{
    margin-left: 11%;
}

.blue{
    background-color: hsl(219, 29%, 14%);
    width: 640px;
    height: 310px;
    position: absolute;
    left: 520px;
    top: 535px;
    border-radius: 13px;
    padding-right: 20px;
    
}

.patrick{
    border-radius: 40px;
    margin-top: 4%;
    margin-left: 6%;
}

.name5{
    position: absolute;
    left: 120px;
    top: 15px;
    color: hsl(0, 0%, 100%);
}

.subtitle5{
    position: absolute;
    left: 120px;
    top: 43px;
    color: hsl(0, 0%, 81%);
}

.title5{
    
    margin-left: 7%;
    color: hsl(0, 0%, 100%);
}

.distance2{
    color: hsl(0, 0%, 81%);
    margin-left: 7%;
}